
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//
//// Variables
//@import "variables";
//
//// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


@import "node_modules/normalize.css/normalize";
@font-face {
  font-family: 'iconfont';  /* project id 373921 */
  src: url('//at.alicdn.com/t/font_g3p55ftdxhlu9pb9.eot');
  src: url('//at.alicdn.com/t/font_g3p55ftdxhlu9pb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_g3p55ftdxhlu9pb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_g3p55ftdxhlu9pb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_g3p55ftdxhlu9pb9.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 8px;
}

.el-icon-circle-check {
  color: #20a0ff;
}
.el-icon-circle-close {
  color: #ff4949;
}

#app {
  display: flex;
  min-width: 1080px;
  background-color: #ffffff;
  color: #5e6d82;
  overflow:hidden
}

a{
  color: #5e6d82 !important;
}

blockquote {
  color: #e01919;
  border-left: 2px solid #ccc;
  padding: 10px;
  background: #f7f7f7;
}

#content{
  margin:30px;
}

// 顶栏样式
.top-bar {
  height: 60px;
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3);
  .top-wrapper {
    flex: 1;
    margin-right: 64px;
  }
  .search-area {
    padding: 16px 10px;
    height: 100%;
    max-width: 320px;
    .el-form-item {
      margin: 0;
      border-radius: 16px;
      box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3);
      .el-icon-search {
        top: 0;
        right: 0;
        font-size: 20px;
        position: absolute;
        z-index: 1;
        width: 32px;
        line-height: 32px;
        border-radius: 16px;
        text-align: center;
        background-color: #ffffff;
      }
    }
    .el-form-item__content {
      line-height: 1;
    }
    .el-input {
      position: relative;
      height: 32px;
      input {
        height: 32px;
        border: none;
        float: right;
        color: #F9FAFC;
        opacity: 1;
        border-radius: 16px;
        background-color: #ffffff;
        &::-webkit-input-placeholder {
          color: #C0CCDA;
        }
        &::-moz-placeholder {
          color: #C0CCDA;
        }
        &::-ms-input-placeholder {
          color: #C0CCDA;
        }
      }
    }
  }
  .user-area {
    padding: 16px 10px;
    display: inline-block;
    position: relative;
    &:hover {
      //background-color: #ffffff;
      .drop-menu {
        display: block;
      }
    }
    .user-avatar {
      height: 32px;
      .avatar-img {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        margin-right: 10px;
        vertical-align: middle;
        background: center no-repeat;
        background-size: cover;
        background-color: #D8D8D8;
      }
      .el-icon-arrow-down {
        vertical-align: middle;
        font-size: 12px;
        color: #C0CCDA;
      }
    }
  }
  .drop-menu {
    position: absolute;
    right: 0;
    top: 64px;
    display: none;
    width: 140px;
    z-index: 1;
    //background-color: #ffffff;
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      padding: 12px 20px;
      cursor: pointer;
      line-height: 1;
      font-size: 14px;
      &:hover {
        background-color: #eef1f6;
      }
    }
    .iconfont {
      font-size: 20px;
      margin-right: 10px;
    }
  }
}

// 左侧导航栏样式
#nav-menu {
  width: 240px;
  min-width: 240px;
  height: calc(100%-72px);
  border-radius: 0;
  background-color: #ffffff;
  box-shadow: 0px 0 6px rgba(0, 0, 0, 0.3);
  .logo {
    width: 240px;
    height: 60px;
    text-align: center;
    background-color: #ffffff;
    img {
      margin-top: 12px;
    }
  }
  .nav-link {
    display: block;
  }
  .el-menu {
    background-color: #ffffff;
  }
  .el-menu-item,
  .el-submenu .el-submenu__title {
    height: 44px;
    line-height: 44px;
    color: #5e6d82;
    &:hover  {
      color: #ffffff;
    }
  }
  .is-active {

    color : #20a0ff!important;
    a{
      color : #20a0ff!important;
    }
  }
}


// 内容区域样式
#container {
  min-height: 100vh;
  flex: 1 auto;
  width : 100%;
  width: -webkit-calc(100% - 240px);
  width: calc(100% - 240px);
}

// 公共样式
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
[v-cloak] {
  display: none;
}
a {
  text-decoration: none;
  color: #C0CCDA;
}
//.router-link-active {
//  color: #20a0ff;
//}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  animation: animate-in .6s;
}
.slide-fade-leave-active {
  animation: animate-out .6s;
}
@keyframes animate-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animate-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

#header-button{
  margin-bottom: 20px;
  .select-search{
    width: 400px;
    float: right;
    .el-select .el-input {
      width: 110px;
    }
  }
}

#header {
  margin: 20px 0;
}

.pagination{
  margin: 20px 0;
}

#form{
  padding: 20px;
}
.el-upload-dragger{
  width: 352px !important;
}
#content{
  h3{
    padding-bottom: 10px;
  }
  header , section {
    margin-bottom: 20px;
  }
}

.table-expand {
  font-size: 0;
}
.table-expand label {
  width: 90px;
  color: #99a9bf;
}
.table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}

.el-tag{
  margin-right: 1.5px;
}

